<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch3nk.ch3nkSite.modules.sys.mappers.SysUserMapper">
    <resultMap id="resultMap" type="sysUser">
        <id column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="telphone" property="telphone"/>
        <result column="phone" property="phone"/>
        <result column="id_card" property="idCard"/>
        <result column="mail" property="mail"/>
        <result column="qq" property="qq"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_num" property="modifyNum"/>
        <result column="is_deleted" property="isDeleted"/>
        <!--&lt;!&ndash;<association property="dept" column="dept_id" javaType="department">&ndash;&gt;-->
            <!--&lt;!&ndash;<id column="dept_id" property="deptId"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="short_name" property="shortName"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="en_name" property="enName"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="code" property="fullName"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="create_date" property="createDate"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="modify_date" property="modifyDate"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="modify_num" property="modifyNum"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<result column="is_deleted" property="isDeleted"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<association property="company" column="company_id" javaType="company">&ndash;&gt;-->
                <!--&lt;!&ndash;<id column="id" property="id"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<result column="full_name" property="fullName"/>&ndash;&gt;-->
            <!--&lt;!&ndash;</association>&ndash;&gt;-->
            <!--&lt;!&ndash;<association property="createBy" column="create_by" javaType="sysUser">&ndash;&gt;-->

            <!--&lt;!&ndash;</association>&ndash;&gt;-->
            <!--&lt;!&ndash;<association property="modifyBy" column="modify_by" javaType="sysUser">&ndash;&gt;-->

            <!--&lt;!&ndash;</association>&ndash;&gt;-->
        <!--</association>-->
    </resultMap>






</mapper>