<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch3nk.ch3nkSite.modules.sys.mappers.SysMenuMapper">
    <resultMap id="baseResultMap" type="com.ch3nk.ch3nkSite.modules.sys.entity.Company">
        <id column="id"  property="id" jdbcType="VARCHAR"/>
        <result column="full_name" property="full_name" jdbcType="VARCHAR"/>
        <result column="short_name" property="short_name" jdbcType="VARCHAR"/>
        <result column="en_name" property="en_name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="scale" property="scale" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
        <result column="modify_num" property="modifyNum" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="CHAR"/>
        <!--<association property="createBy" javaType="com.ch3nk.ch3nkSite.modules.sys.entity.SysAccount">-->
            <!--<id column="ac_id" property="acId" jdbcType="VARCHAR"/>-->
            <!--<result column="account" property="account" jdbcType="VARCHAR"/>-->
            <!--<result column="password" property="password" jdbcType="VARCHAR"/>-->
            <!--<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>-->
            <!--<result column="avator" property="avator" jdbcType="VARCHAR"/>-->
            <!--<result column="level" property="level" jdbcType="INTEGER"/>-->
            <!--<result column="is_auth" property="isAuth" jdbcType="CHAR"/>-->
            <!--<result column="type" property="type" jdbcType="VARCHAR"/>-->
            <!--<result column="state" property="state" jdbcType="VARCHAR"/>-->
            <!--<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>-->
            <!--<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>-->
            <!--<result column="is_deleted" property="isDeleted" jdbcType="CHAR"/>-->
        <!--</association>-->
        <!--<association property="modifyBy" javaType="com.ch3nk.ch3nkSite.modules.sys.entity.SysAccount">-->
            <!--<id column="ac_id" property="acId" jdbcType="VARCHAR"/>-->
            <!--<result column="account" property="account" jdbcType="VARCHAR"/>-->
            <!--<result column="password" property="password" jdbcType="VARCHAR"/>-->
            <!--<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>-->
            <!--<result column="avator" property="avator" jdbcType="VARCHAR"/>-->
            <!--<result column="level" property="level" jdbcType="INTEGER"/>-->
            <!--<result column="is_auth" property="isAuth" jdbcType="CHAR"/>-->
            <!--<result column="type" property="type" jdbcType="VARCHAR"/>-->
            <!--<result column="state" property="state" jdbcType="VARCHAR"/>-->
            <!--<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>-->
            <!--<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>-->
            <!--<result column="is_deleted" property="isDeleted" jdbcType="CHAR"/>-->
        <!--</association>-->
    </resultMap>
    <sql id="base_columns">
        id,
        full_name,
        short_name,
        en_name,
        code,
        type,
        scale,
        create_by,
        create_date,
        modify_by,
        modify_date,
        modify_num,
        is_deleted
    </sql>
    <select id="selectByPage" resultMap="baseResultMap">
        select
        <include refid="base_columns"/>
        from sys_menu
        <where>
            <if test="sysBean != null">
                <if test="sysBean.id != null and sysBean.id != ''">
                    id = #{sysBean.id,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.fullName != null and sysBean.fullName != ''">
                    and full_name = #{sysBean.fullName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.shortName != null and sysBean.shortName != ''">
                    and short_name = #{sysBean.shortName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.enName != null and sysBean.enName != ''">
                    and en_name = #{sysBean.enName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.code != null and sysBean.code != ''">
                    and code = #{sysBean.code,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.type != null and sysBean.type != ''">
                    and type = #{sysBean.type,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.scale != null and sysBean.scale != ''">
                    and scale = #{sysBean.scale,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.createBy != null">
                    <if test="sysBean.createBy.acId != null and sysBean.createBy.acId != ''">
                        and create_by = #{sysBean.createBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.createDate != null and sysBean.createDate != ''">
                    and create_date = #{sysBean.createDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyBy != null">
                    <if test="sysBean.modifyBy.acId != null and sysBean.modifyBy.acId != ''">
                        and modify_by = #{sysBean.modifyBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.modifyDate != null and sysBean.modifyDate != ''">
                    and modify_date = #{sysBean.modifyDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyNum != null and sysBean.modifyNum != ''">
                    and modify_num= #{sysBean.modifyNum,jdbcType = INTEGER}
                </if>
                <if test="sysBean.isDeleted != null and sysBean.isDeleted != ''">
                    and is_deleted = #{sysBean.isDeleted,jdbcType = CHAR}
                </if>
            </if>
        </where>
        order by create_date desc
        limit #{pageNum} , #{pageSize}
    </select>

    <select id="selectBy" parameterType="sysMenu" resultMap="baseResultMap">
        select
        <include refid="base_columns"/>
        from sys_menu
        <where>
            <if test="sysBean != null">
                <if test="sysBean.id != null and sysBean.id != ''">
                    id = #{sysBean.id,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.fullName != null and sysBean.fullName != ''">
                    and full_name = #{sysBean.fullName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.shortName != null and sysBean.shortName != ''">
                    and short_name = #{sysBean.shortName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.enName != null and sysBean.enName != ''">
                    and en_name = #{sysBean.enName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.code != null and sysBean.code != ''">
                    and code = #{sysBean.code,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.type != null and sysBean.type != ''">
                    and type = #{sysBean.type,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.scale != null and sysBean.scale != ''">
                    and scale = #{sysBean.scale,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.createBy != null">
                    <if test="sysBean.createBy.acId != null and sysBean.createBy.acId != ''">
                        and create_by = #{sysBean.createBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.createDate != null and sysBean.createDate != ''">
                    and create_date = #{sysBean.createDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyBy != null">
                    <if test="sysBean.modifyBy.acId != null and sysBean.modifyBy.acId != ''">
                        and modify_by = #{sysBean.modifyBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.modifyDate != null and sysBean.modifyDate != ''">
                    and modify_date = #{sysBean.modifyDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyNum != null and sysBean.modifyNum != ''">
                    and modify_num= #{sysBean.modifyNum,jdbcType = INTEGER}
                </if>
                <if test="sysBean.isDeleted != null and sysBean.isDeleted != ''">
                    and is_deleted = #{sysBean.isDeleted,jdbcType = CHAR}
                </if>
            </if>
        </where>
    </select>

    <select id="count" parameterType="sysMenu" resultType="java.lang.Integer">
        select count(1)
        from sys_menu
        <where>
            <if test="sysBean != null">
                <if test="sysBean.id != null and sysBean.id != ''">
                    id = #{sysBean.id,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.fullName != null and sysBean.fullName != ''">
                    and full_name = #{sysBean.fullName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.shortName != null and sysBean.shortName != ''">
                    and short_name = #{sysBean.shortName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.enName != null and sysBean.enName != ''">
                    and en_name = #{sysBean.enName,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.code != null and sysBean.code != ''">
                    and code = #{sysBean.code,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.type != null and sysBean.type != ''">
                    and type = #{sysBean.type,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.scale != null and sysBean.scale != ''">
                    and scale = #{sysBean.scale,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.createBy != null">
                    <if test="sysBean.createBy.acId != null and sysBean.createBy.acId != ''">
                        and create_by = #{sysBean.createBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.createDate != null and sysBean.createDate != ''">
                    and create_date = #{sysBean.createDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyBy != null">
                    <if test="sysBean.modifyBy.acId != null and sysBean.modifyBy.acId != ''">
                        and modify_by = #{sysBean.modifyBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.modifyDate != null and sysBean.modifyDate != ''">
                    and modify_date = #{sysBean.modifyDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyNum != null and sysBean.modifyNum != ''">
                    and modify_num= #{sysBean.modifyNum,jdbcType = INTEGER}
                </if>
                <if test="sysBean.isDeleted != null and sysBean.isDeleted != ''">
                    and is_deleted = #{sysBean.isDeleted,jdbcType = CHAR}
                </if>
            </if>
        </where>
    </select>
</mapper>