<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch3nk.ch3nkSite.modules.sys.mappers.SysMenuMapper">
    <resultMap id="baseResultMap" type="sysMenu">
        <id column="menu_id"  property="menuId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
        <result column="modify_num" property="modifyNum" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="CHAR"/>
        <association property="createBy" javaType="com.ch3nk.ch3nkSite.modules.sys.entity.SysAccount">
            <id column="ac_id" property="acId" jdbcType="VARCHAR"/>
            <result column="account" property="account" jdbcType="VARCHAR"/>
            <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
            <result column="avator" property="avator" jdbcType="VARCHAR"/>
            <result column="level" property="level" jdbcType="INTEGER"/>
        </association>
        <association property="modifyBy" javaType="com.ch3nk.ch3nkSite.modules.sys.entity.SysAccount">
            <id column="ac_id" property="acId" jdbcType="VARCHAR"/>
            <result column="account" property="account" jdbcType="VARCHAR"/>
            <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
            <result column="avator" property="avator" jdbcType="VARCHAR"/>
            <result column="level" property="level" jdbcType="INTEGER"/>
        </association>
    </resultMap>
    <sql id="base_columns">
        sm.menu_id,
        sm.`type`,
        sm.`name`,
        sm.`code`,
        sm.parent_id,
        sm.url,
        sm.create_by,
        sm.create_date,
        sm.modify_by,
        sm.modify_date,
        sm.modify_num,
        sm.is_deleted,
        sa.ac_id,
        sa.account,
        sa.nick_name,
        sa.avator,
        sa.`level`
    </sql>
    <!--<select id="selectByPage" resultMap="baseResultMap">-->
        <!--select-->
        <!--<include refid="base_columns"/>-->
        <!--from sys_menu-->
        <!--<where>-->
            <!--<if test="sysBean != null">-->
                <!--<if test="sysBean.menuId != null and sysBean.menuId != ''">-->
                    <!--menu_id = #{sysBean.menuId,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.type != null and sysBean.type != ''">-->
                    <!--and type = #{sysBean.type,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.name != null and sysBean.name != ''">-->
                    <!--and name = #{sysBean.name,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.code != null and sysBean.code != ''">-->
                    <!--and code = #{sysBean.code,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.parentId != null and sysBean.parentId != ''">-->
                    <!--and parent_id = #{sysBean.parentId,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.url != null and sysBean.url != ''">-->
                    <!--and url = #{sysBean.url,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.createBy != null">-->
                    <!--<if test="sysBean.createBy.acId != null and sysBean.createBy.acId != ''">-->
                        <!--and create_by = #{sysBean.createBy.acId,jdbcType = VARCHAR}-->
                    <!--</if>-->
                <!--</if>-->
                <!--<if test="sysBean.createDate != null and sysBean.createDate != ''">-->
                    <!--and create_date = #{sysBean.createDate,jdbcType = TIMESTAMP}-->
                <!--</if>-->
                <!--<if test="sysBean.modifyBy != null">-->
                    <!--<if test="sysBean.modifyBy.acId != null and sysBean.modifyBy.acId != ''">-->
                        <!--and modify_by = #{sysBean.modifyBy.acId,jdbcType = VARCHAR}-->
                    <!--</if>-->
                <!--</if>-->
                <!--<if test="sysBean.modifyDate != null and sysBean.modifyDate != ''">-->
                    <!--and modify_date = #{sysBean.modifyDate,jdbcType = TIMESTAMP}-->
                <!--</if>-->
                <!--<if test="sysBean.modifyNum != null and sysBean.modifyNum != ''">-->
                    <!--and modify_num= #{sysBean.modifyNum,jdbcType = INTEGER}-->
                <!--</if>-->
                <!--<if test="sysBean.isDeleted != null and sysBean.isDeleted != ''">-->
                    <!--and is_deleted = #{sysBean.isDeleted,jdbcType = CHAR}-->
                <!--</if>-->
            <!--</if>-->
        <!--</where>-->
        <!--order by create_date desc-->
        <!--limit #{pageNum} , #{pageSize}-->
    <!--</select>-->

    <select id="selectBy" parameterType="sysMenu" resultMap="baseResultMap">
        select
        <include refid="base_columns"/>
        from sys_menu sm
        left join sys_account sa
        on sm.create_by = sa.ac_id and
        sm.modify_by = sa.ac_id
        <where>
            <if test="sysBean != null">
                <if test="sysBean.menuId != null and sysBean.menuId != ''">
                    sm.menu_id = #{sysBean.menuId,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.type != null and sysBean.type != ''">
                    and sm.type = #{sysBean.type,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.name != null and sysBean.name != ''">
                    and sm.name = #{sysBean.name,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.code != null and sysBean.code != ''">
                    and sm.code = #{sysBean.code,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.parentId != null and sysBean.parentId != ''">
                    and sm.parent_id = #{sysBean.parentId,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.url != null and sysBean.url != ''">
                    and sm.url = #{sysBean.url,jdbcType = VARCHAR}
                </if>
                <if test="sysBean.createBy != null">
                    <if test="sysBean.createBy.acId != null and sysBean.createBy.acId != ''">
                        and sm.create_by = #{sysBean.createBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.createDate != null and sysBean.createDate != ''">
                    and sm.create_date = #{sysBean.createDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyBy != null">
                    <if test="sysBean.modifyBy.acId != null and sysBean.modifyBy.acId != ''">
                        and sm.modify_by = #{sysBean.modifyBy.acId,jdbcType = VARCHAR}
                    </if>
                </if>
                <if test="sysBean.modifyDate != null and sysBean.modifyDate != ''">
                    and sm.modify_date = #{sysBean.modifyDate,jdbcType = TIMESTAMP}
                </if>
                <if test="sysBean.modifyNum != null and sysBean.modifyNum != ''">
                    and sm.modify_num= #{sysBean.modifyNum,jdbcType = INTEGER}
                </if>
                <if test="sysBean.isDeleted != null and sysBean.isDeleted != ''">
                    and sm.is_deleted = #{sysBean.isDeleted,jdbcType = CHAR}
                </if>
            </if>
        </where>
    </select>

    <!--<select id="count" parameterType="sysMenu" resultType="java.lang.Integer">-->
        <!--select count(1)-->
        <!--from sys_menu-->
        <!--<where>-->
            <!--<if test="sysBean != null">-->
                <!--<if test="sysBean.menuId != null and sysBean.menuId != ''">-->
                    <!--menu_id = #{sysBean.menuId,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.type != null and sysBean.type != ''">-->
                    <!--and type = #{sysBean.type,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.name != null and sysBean.name != ''">-->
                    <!--and name = #{sysBean.name,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.code != null and sysBean.code != ''">-->
                    <!--and code = #{sysBean.code,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.parentId != null and sysBean.parentId != ''">-->
                    <!--and parent_id = #{sysBean.parentId,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.url != null and sysBean.url != ''">-->
                    <!--and url = #{sysBean.url,jdbcType = VARCHAR}-->
                <!--</if>-->
                <!--<if test="sysBean.createBy != null">-->
                    <!--<if test="sysBean.createBy.acId != null and sysBean.createBy.acId != ''">-->
                        <!--and create_by = #{sysBean.createBy.acId,jdbcType = VARCHAR}-->
                    <!--</if>-->
                <!--</if>-->
                <!--<if test="sysBean.createDate != null and sysBean.createDate != ''">-->
                    <!--and create_date = #{sysBean.createDate,jdbcType = TIMESTAMP}-->
                <!--</if>-->
                <!--<if test="sysBean.modifyBy != null">-->
                    <!--<if test="sysBean.modifyBy.acId != null and sysBean.modifyBy.acId != ''">-->
                        <!--and modify_by = #{sysBean.modifyBy.acId,jdbcType = VARCHAR}-->
                    <!--</if>-->
                <!--</if>-->
                <!--<if test="sysBean.modifyDate != null and sysBean.modifyDate != ''">-->
                    <!--and modify_date = #{sysBean.modifyDate,jdbcType = TIMESTAMP}-->
                <!--</if>-->
                <!--<if test="sysBean.modifyNum != null and sysBean.modifyNum != ''">-->
                    <!--and modify_num= #{sysBean.modifyNum,jdbcType = INTEGER}-->
                <!--</if>-->
                <!--<if test="sysBean.isDeleted != null and sysBean.isDeleted != ''">-->
                    <!--and is_deleted = #{sysBean.isDeleted,jdbcType = CHAR}-->
                <!--</if>-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->
</mapper>