table,th,td{
    border: 1px solid #dbdbdb;
}
table.treetable{
    /*width: 960px;*/
}
table.treetable thead tr{
    height: 38px;
    line-height: 38px;
}
table.treetable thead tr th{
    border: 1px solid #dbdbdb;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    padding: 0 15px;
}
table.treetable tbody tr:hover{
    background-color: #F2F2F2;
}
table.treetable tr.branch{
    background-color: #FFFFFF;
}
table.treetable tbody tr{
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-align: left;
}
table.treetable tbody tr th{
    background-color: #ffffff;
    font-size: 14px;
    line-height: 38px;
}