<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch3nk.ch3nkSite.modules.sys.mapper.SysDicMapper">
    <resultMap id="BaseResultMap" type="sysDic">
        <id column="DIC_ID" jdbcType="VARCHAR" property="dicId"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="DIC_NAME" jdbcType="VARCHAR" property="dicName"/>
        <result column="DIC_ENAME" jdbcType="VARCHAR" property="dicEname"/>
        <result column="DIC_CODE" jdbcType="VARCHAR" property="dicCode"/>
        <result column="DIC_TYPE" jdbcType="VARCHAR" property="dicType"/>
        <result column="DIC_DESCRIBE" jdbcType="VARCHAR" property="dicDescribe"/>
        <result column="DIC_SORT" jdbcType="VARCHAR" property="dicSort"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        DIC_ID,
        PARENT_ID,
        DIC_NAME,
        DIC_ENAME,
        DIC_CODE,
        DIC_TYPE,
        DIC_DESCRIBE,
        DIC_SORT,
        REMARK
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dic
        where DIC_ID = #{dicId,jdbcType=VARCHAR}
    </select>
    <select id="selectByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dic
        where PARENT_ID = #{parentId,jdbcType=VARCHAR}
        order by DIC_SORT desc
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dic
        order by DIC_SORT desc
    </select>
    <select id="selectParents" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dic
        where PARENT_ID is null
        order by DIC_SORT desc
    </select>
    <select id="selectByParentType" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dic
        where PARENT_ID = (select DIC_ID from sys_dic where DIC_TYPE = #{dicType,jdbcType=VARCHAR})
        order by DIC_SORT desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from sys_dic
        where DIC_ID = #{dicId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="sysDic">
        insert into sys_dic (DIC_ID, PARENT_ID, DIC_NAME,
        DIC_ENAME,DIC_CODE,DIC_TYPE, DIC_DESCRIBE, DIC_SORT,
        REMARK)
        values (#{dicId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{dicName,jdbcType=VARCHAR},
        #{dicEname,jdbcType=VARCHAR},#{dicCode,jdbcType=VARCHAR},#{dicType,jdbcType=VARCHAR}, #{dicDescribe,jdbcType=VARCHAR},
        #{dicSort,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="sysDic">
        insert into sys_dic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dicId != null">
                DIC_ID,
            </if>
            <if test="parentId != null and parentId != ''">
                PARENT_ID,
            </if>
            <if test="dicName != null">
                DIC_NAME,
            </if>
            <if test="dicEname != null">
                DIC_ENAME,
            </if>
            <if test="dicCode != null and dicCode != ''">
                DIC_CODE,
            </if>
            <if test="dicType != null">
                DIC_TYPE,
            </if>
            <if test="dicDescribe != null">
                DIC_DESCRIBE,
            </if>
            <if test="dicSort != null">
                DIC_SORT,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dicId != null">
                #{dicId,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null and parentId != ''">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="dicName != null">
                #{dicName,jdbcType=VARCHAR},
            </if>
            <if test="dicEname != null">
                #{dicEname,jdbcType=VARCHAR},
            </if>
            <if test="dicCode != null and dicCode != ''">
                #{dicCode,jdbcType=VARCHAR},
            </if>
            <if test="dicType != null">
                #{dicType,jdbcType=VARCHAR},
            </if>
            <if test="dicDescribe != null">
                #{dicDescribe,jdbcType=VARCHAR},
            </if>
            <if test="dicSort != null">
                #{dicSort,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="sysDic">
        update sys_dic
        <set>
            <if test="parentId != null and parentId != ''">
                PARENT_ID = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="dicName != null">
                DIC_NAME = #{dicName,jdbcType=VARCHAR},
            </if>
            <if test="dicEname != null">
                DIC_ENAME = #{dicEname,jdbcType=VARCHAR},
            </if>
            <if test="dicCode != null and dicCode != ''">
                DIC_CODE = #{dicCode,jdbcType=VARCHAR},
            </if>
            <if test="dicType != null">
                DIC_TYPE = #{dicType,jdbcType=VARCHAR},
            </if>
            <if test="dicDescribe != null">
                DIC_DESCRIBE = #{dicDescribe,jdbcType=VARCHAR},
            </if>
            <if test="dicSort != null">
                DIC_SORT = #{dicSort,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where DIC_ID = #{dicId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="sysDic">
        update sys_dic
        set PARENT_ID = #{parentId,jdbcType=VARCHAR},
        DIC_NAME = #{dicName,jdbcType=VARCHAR},
        DIC_ENAME = #{dicEname,jdbcType=VARCHAR},
        DIC_CODE = #{dicCode,jdbcType=VARCHAR},
        DIC_TYPE = #{dicType,jdbcType=VARCHAR},
        DIC_DESCRIBE = #{dicDescribe,jdbcType=VARCHAR},
        DIC_SORT = #{dicSort,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR}
        where DIC_ID = #{dicId,jdbcType=VARCHAR}
    </update>
</mapper>