<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch3nk.ch3nkSite.modules.sys.mapper.SysDepartmentMapper">
  <resultMap id="BaseResultMap" type="sysDepartment">
    <id column="DEPT_ID" jdbcType="VARCHAR" property="deptId" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="DEPT_NUM" jdbcType="VARCHAR" property="deptNum" />
    <result column="DEPT_ABBR" jdbcType="VARCHAR" property="deptAbbr" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="HAS_BRANCH" jdbcType="VARCHAR" property="hasBranch" />
  </resultMap>
  <sql id="Base_Column_List">
    DEPT_ID, DEPT_NAME, DEPT_NUM, DEPT_ABBR, PARENT_ID, CREATE_DATE, UPDATE_DATE, `STATE`, HAS_BRANCH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_department
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
  </select>
  <select id="selectCount" parameterType="sysDepartment" resultType="int">
    select count(1) from sys_department
    <where>
      <if test="deptId != null">DEPT_ID = #{deptId}</if>
      <if test="deptName != null">and DEPT_NAME = #{deptName}</if>
      <if test="deptNum != null">and DEPT_NUM = #{deptNum}</if>
      <if test="deptAbbr != null">and DEPT_ABBR = #{deptAbbr}</if>
      <if test="parentId != null">and PARENT_ID = #{parentId}</if>
      <if test="createDate != null">and CREATE_DATE = #{createDate}</if>
      <if test="updateDate != null">and UPDATE_DATE = #{updateDate}</if>
      <if test="state != null">and `STATE` = #{state}</if>
    </where>
  </select>

  <select id="selectBy" parameterType="sysDepartment" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_department
    <where>
      <if test="deptId != null">DEPT_ID = #{deptId}</if>
      <if test="deptName != null">and DEPT_NAME = #{deptName}</if>
      <if test="deptNum != null">and DEPT_NUM = #{deptNum}</if>
      <if test="deptAbbr != null">and DEPT_ABBR = #{deptAbbr}</if>
      <if test="parentId != null">and PARENT_ID = #{parentId}</if>
      <if test="createDate != null">and CREATE_DATE = #{createDate}</if>
      <if test="updateDate != null">and UPDATE_DATE = #{updateDate}</if>
      <if test="state != null">and `STATE` = #{state}</if>
    </where>
    order by CREATE_DATE desc
  </select>

  <select id="selectParents" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_department
    where PARENT_ID is null or PARENT_ID = ''
    order by CREATE_DATE desc
  </select>

  <select id="selectChildren" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_department
    where PARENT_ID is not null or PARENT_ID != ''
    order by CREATE_DATE desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_department
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="sysDepartment">
    insert into sys_department (DEPT_ID, DEPT_NAME, DEPT_NUM, 
      DEPT_ABBR, PARENT_ID, CREATE_DATE, UPDATE_DATE,
      `STATE`,HAS_BRANCH)
    values (#{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{deptNum,jdbcType=VARCHAR}, 
      #{deptAbbr,jdbcType=VARCHAR},#{parentId,jdbcType=VARCHAR} #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},
      #{state,jdbcType=VARCHAR},#{hasBranch,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sysDepartment">
    insert into sys_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptId != null">DEPT_ID,</if>
      <if test="deptName != null">DEPT_NAME,</if>
      <if test="deptNum != null">DEPT_NUM,</if>
      <if test="deptAbbr != null">DEPT_ABBR,</if>
      <if test="parentId != null">PARENT_ID,</if>
      <if test="createDate != null">CREATE_DATE,</if>
      <if test="updateDate != null">UPDATE_DATE,</if>
      <if test="state != null">`STATE`,</if>
      <if test="hasBranch != null">HAS_BRANCH,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptId != null">#{deptId,jdbcType=VARCHAR},</if>
      <if test="deptName != null">#{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null">#{deptNum,jdbcType=VARCHAR},</if>
      <if test="deptAbbr != null">#{deptAbbr,jdbcType=VARCHAR},</if>
      <if test="parentId != null">#{parentId,jdbcType=VARCHAR},</if>
      <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
      <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
      <if test="state != null">#{state,jdbcType=VARCHAR},</if>
      <if test="hasBranch != null">#{HAS_BRANCH,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sysDepartment">
    update sys_department
    <set>
      <if test="deptName != null">DEPT_NAME = #{deptName,jdbcType=VARCHAR},</if>
      <if test="deptNum != null">DEPT_NUM = #{deptNum,jdbcType=VARCHAR},</if>
      <if test="deptAbbr != null">DEPT_ABBR = #{deptAbbr,jdbcType=VARCHAR},</if>
      <if test="parentId != null">PARENT_ID = #{parentId,jdbcType=VARCHAR},</if>
      <if test="createDate != null">CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},</if>
      <if test="updateDate != null">UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},</if>
      <if test="state != null">`STATE` = #{state,jdbcType=VARCHAR},</if>
      <if test="hasBranch != null">HAS_BRANCH = #{hasBranch,jdbcType=VARCHAR},</if>
    </set>
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sysDepartment">
    update sys_department
    set DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_NUM = #{deptNum,jdbcType=VARCHAR},
      DEPT_ABBR = #{deptAbbr,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      `STATE` = #{state,jdbcType=VARCHAR},
      HAS_BRANCH = #{hasBranch,jdbcType=VARCHAR}
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
  </update>
</mapper>