<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch3nk.ch3nkSite.modules.sys.mapper.SysOperationMapper">
    <resultMap id="BaseResultMap" type="sysOperation">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="REQ_IP" jdbcType="VARCHAR" property="reqIP"/>
        <result column="REQ_RESOURCE" jdbcType="VARCHAR" property="reqResource"/>
        <result column="REQ_PARAMS" jdbcType="VARCHAR" property="reqParams"/>
        <result column="CLIENT_TYPE" jdbcType="VARCHAR" property="clientType"/>
        <result column="BROWSER_NAME" jdbcType="VARCHAR" property="browserName"/>
        <result column="BROWSER_VERSION" jdbcType="VARCHAR" property="browserVersion"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,
        USER_ID,
        REQ_IP,
        REQ_RESOURCE,
        REQ_PARAMS,
        CLIENT_TYPE,
        BROWSER_NAME,
        BROWSER_VERSION,
        CREATE_DATE
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_operations
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectBy" parameterType="sysOperation" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_operations
        <where>
            <if test="reqIP != null and reqIP != ''">REQ_IP = #{reqIP,jdbcType=VARCHAR}</if>
            <if test="reqResource != null and reqResource != ''">and REQ_RESOURCE = #{reqResource,jdbcType=VARCHAR}</if>
            <if test="clientType != null and clientType != ''">and CLIENT_TYPE = #{clientType,jdbcType=VARCHAR}</if>
            <if test="browserName != null and browserName != ''">and BROWSER_NAME = #{browserName,jdbcType=VARCHAR}</if>
            <if test="browserVersion != null and browserVersion != ''">and BROWSER_VERSION = #{browserVersion,jdbcType=VARCHAR}</if>
        </where>
        order by CREATE_DATE desc
    </select>
    <select id="selectByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_operations
        <where>
            <if test="sysOperation.reqIP != null and sysOperation.reqIP != ''">REQ_IP = #{sysOperation.reqIP,jdbcType=VARCHAR}</if>
            <if test="sysOperation.reqResource != null and sysOperation.reqResource != ''">REQ_RESOURCE = #{sysOperation.reqResource,jdbcType=VARCHAR}</if>
            <if test="sysOperation.clientType != null and sysOperation.clientType != ''">CLIENT_TYPE = #{sysOperation.clientType,jdbcType=VARCHAR}</if>
            <if test="sysOperation.browserName != null and sysOperation.browserName != ''">BROWSER_NAME = #{sysOperation.browserName,jdbcType=VARCHAR}</if>
            <if test="sysOperation.browserVersion != null and sysOperation.browserVersion != ''">BROWSER_VERSION = #{sysOperation.browserVersion,jdbcType=VARCHAR}</if>
        </where>
        order by CREATE_DATE desc
        limit #{pageNum} , #{pageSize}
    </select>
    <insert id="insertSelective" parameterType="sysOperation">
        insert into sys_operations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="reqIP != null">
                REQ_IP,
            </if>
            <if test="reqResource != null">
                REQ_RESOURCE,
            </if>
            <if test="reqParams != null">
                REQ_PARAMS,
            </if>
            <if test="clientType != null">
                CLIENT_TYPE,
            </if>
            <if test="browserName != null">
                BROWSER_NAME,
            </if>
            <if test="browserVersion != null">
                BROWSER_VERSION,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="reqIP != null">
                #{reqIP,jdbcType=VARCHAR},
            </if>
            <if test="reqResource != null">
                #{reqResource,jdbcType=VARCHAR},
            </if>
            <if test="reqParams != null">
                #{reqParams,jdbcType=VARCHAR},
            </if>
            <if test="clientType != null">
                #{clientType,jdbcType=VARCHAR},
            </if>
            <if test="browserName != null">
                #{browserName,jdbcType=VARCHAR},
            </if>
            <if test="browserVersion != null">
                #{browserVersion,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>